/* font-family: 'Inter', sans-serif; */
/* font-family: 'Metal Mania', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 2.5rem;
}

/* HEADER */

header {
    outline: 1px solid red;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    padding: 1rem;
}

/* GALLERY */

.gallery {
    background-color: gainsboro;
    padding-top: 3rem;
}

/* SHOWS */

.show {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    margin-bottom: 2.25rem;
}

.show-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.show-details {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "loc  date"
        "name name"
        "desc desc";
}

.show-location {
    grid-area: loc;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.show-name {
    grid-area: name;
    margin-bottom: 1rem;
}

.show-date {
    grid-area: date;
    font-size: .7rem;
    font-weight: 700;
    text-align: end;
}

.show-desc {
    grid-area: desc;
    font-size: .9rem;
}