/* font-family: 'Inter', sans-serif; */
/* font-family: 'Metal Mania', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 2.5rem;
}

/* HEADER */

header {
    outline: 1px solid red;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    padding: 1rem;
}

/* GALLERY */

.gallery {
    background-color: gainsboro;
    padding-top: 3rem;
}

/* SHOWS */

.show {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    margin-bottom: 2.25rem;
}

.show-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.show-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "loc  map"
        "name name"
        "date date"
        "desc desc";
}

.show-location {
    grid-area: loc;
    outline: 1px solid red;
}

.show-map {
    grid-area: map;
    outline: 1px solid orange;
}

.show-name {
    grid-area: name;
    outline: 1px solid yellow;
}

.show-date {
    grid-area: date;
    outline: 1px solid green;
}

.show-desc {
    grid-area: desc;
    outline: 1px solid blue;
}