/* font-family: 'Inter', sans-serif; */
/* font-family: 'Metal Mania', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 2.5rem;
}

/* HEADER */

header {
    outline: 1px solid red;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    padding: 1rem;
}

/* GALLERY */

.gallery {
    background-color: gainsboro;
}